<div class="container center">
  <div class="content">
    <h1 class="formTitle marginAligin"> Form Validation </h1>
    <div class="formSection">
      <form action="" [formGroup]="simpleForm">
        <div class="formName">
          <label for="" class="name marginAligin"> Name :- </label><br>
          <input formControlName="firstName" placeholder="Enter your name" type="text" class="inputFirstname marginAligin inputAlign form-control"><br>
          <span *ngIf="simpleForm.get('firstName').invalid && simpleForm.get('firstName').touched" class="nameError marginAligin"> Name is required </span>
        </div>
        <div class="genderTag">
          <label for="" class="genderTitle marginAligin"> Gender :- </label>
          <div class="Gender marginAligin">
            <div>
              <input type="checkbox" class="genderCheckbox marginAligin" [(ngModel)]="maleGender" (change)="onChangeMale()"> Male
              <input type="checkbox" class="genderCheckbox marginAligin" [(ngModel)]="femaleGender" (change)="onChangeFemale()"> Female
            </div>
          </div>
          <div class="marginAligin" [innerHtml]='genderErrorMsg'></div>
        </div>
        <div class="countryName">
          <label for="" class="country marginAligin"> Country :- </label><br>
          <input formControlName="country" type="text" placeholder="Enter your country" class="countryInput marginAligin inputAlign form-control"><br>
          <span *ngIf="simpleForm.get('country').invalid && simpleForm.get('country').touched" class="countryError marginAligin"> Country is required </span>
        </div>
        <div class="cityName">
          <label for="" class="city marginAligin"> City :- </label><br>
          <input formControlName="city" placeholder="Enter your city" type="text" class="cityInput marginAligin inputAlign form-control"><br>
          <span *ngIf="simpleForm.get('city').invalid && simpleForm.get('city').touched" class="cityError marginAligin"> City is required </span>
        </div>
        <div class="formAge">
          <label for="" class="age marginAligin"> Age :- </label><br>
          <input formControlName="age" placeholder="Enter your age" type="text" class="inputAge marginAligin inputAlign form-control"><br>
          <span *ngIf="simpleForm.get('age').invalid && simpleForm.get('age').touched" class="ageError marginAligin"> Age is required </span>
        </div>
        <div class="submitButton">
          <button [disabled]="simpleForm.invalid" class="forceSubmit marginAligin" (click)="onSubmit()"> Submit </button>
        </div>
      </form>
    </div>
  </div>
</div>